<div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="
      d-flex
      align-items-center
      mb-3 mb-lg-0
      me-lg-auto
      text-dark text-decoration-none
    ">
        <svg class="bi me-2" width="40" height="32"></svg>
        <img width="40" height="40" src="https://cdn-icons-png.flaticon.com/512/2917/2917995.png" alt="Laptop gris, delgada, con pantalla de 14 pulgadas" />
        <span class="fs-4">Life Plant</span>
    </a>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0">
        <div class="hola">
            <input type="search" class="form-control rounded col-9" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        </div>
        <div class="hola">
            <span class="btn border-0 btn-success" id="search-addon">
        <fa-icon [icon]="searchIcon"></fa-icon>
      </span>
        </div>
    </form>

</div>